@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #24235c;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #49a09d, #5f2c82); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quiz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 500px;
    border-radius: 20px;
    background-color: #170058;
    color: #44D2FC;
    box-shadow: 0px 3px 12px #150938;
}

.quiz-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: #170058;
    color: #44D2FC;
    box-shadow: 0px 3px 12px #150938;
}

.card{
    background-color: #170058;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    box-shadow: 0px 3px 12px #150938;
}

.card-text:nth-child(2){
    margin-top: 50px;
}

.card-text{
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #44D2FC;
}

.card-body p{
    cursor: pointer;
}

.card-text-select{
    background-color: #17c9ff;
    color: #170058;
}

.card-text-wrong{
    border: 1px solid red;
    background-color: rgb(197, 88, 88);
}

.card-text-right{
    border: 1px solid rgb(13, 240, 13);
    background-color: rgb(29, 82, 29);
}

hr{
    background-color: #44D2FC;
}

h2{
    text-align: center;
    text-shadow: 0px 3px 6px black;
}

.quiz-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: pink; */
    width: 60%;
    display: flex;
    flex-direction: column;
}

input[type="text"]{
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 20px;
}

button{
    margin-top: 10px;
    box-shadow: 0px 3px 6px #262626;
    border: none;
    outline: none;
}

.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
   /* margin: 10px; */
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 20px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 @media only screen and (max-width: 600px) {
    .quiz {
      width: 100%;
      max-width: 100% !important;
    }
    .quiz-card {
        width: 100% !important;
        max-width: 100% !important;
    }
    .card-header {
        flex-direction: column;
    }
}
